@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="app">
        @* <input v-model="inputValue" type="text" placeholder="Type something"> *@
        @* <p>You entered: {{ inputValue }}</p> *@
    </div>
</div>

@* @section Scripts {
<script>
const app = Vue.createApp({
data() {
return {
inputValue: ''
};
}
});

app.mount('#app');
</script>
} *@